*{margin:0;
padding:0}

/*apply to all page*/





body {
    font-family: Avenir, Tahoma, Verdana, sans-serif;
    font-size: 100%;
    margin:auto;
    width: 70%;
    background-color: ghostwhite;
/*	background-image:url("swimj.jpg");*/
/*	background-size: contain;*/
}

/*
header {
    background-color: transparent;
    font-family: Avenir, Tahoma, Verdana, sans-serif;
    
}
*/




/*get rid of dot*/


/*identify the name of the class*/
.nav-links:link {
    color: #FFF;
    text-decoration: none;
}

.nav-links:visited {
    color: rgb(170,170,170);
    text-decoration: none;
}


.nav-links:hover {
    color: lightblue;
}

figcaption {
    background-color: rgb(170,170,170);
    color: #fff;
    display: block;
    font-size: 2em;
    height: 70%;
    width: 11%;
    opacity: 0;
    padding-left: 1.2%;
    padding-right: 1.2%;
    position: absolute;
    transition: opacity .4s ease;
}


figcaption p {
   padding-top: 15%; 
}

figcaption:hover {
    opacity: .6;
}


/*

article {
    background-color: rgba(169,169,169,0.50);
    padding-bottom: 20px;
}
*/


.doors figure{
    color: blue;
    float: left;
    margin: auto 0;
    text-align: center;
    width: 20%;
}


/*section {}*/

footer {text-align: center;}


h1 {
    background-color:transparent;
    color: #224;
    font-family: Avenir, "Gill Sans MT", Calibri, sans-serif;
    font-size: 2.1875em;
    padding: 25px 25px 25px 15px;

}

h2 {
    background-color: transparent;
    color: #FFF;
    font-family: Avenir, "Gill Sans MT", Calibri, sans-serif;
    font-size: 1.5em;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-top: 10px;
}

h3 {
    background-color: #FFDAB9;
    color: #FFF;
    font-family: Avenir, "Gill Sans MT", Calibri, sans-serif;
    font-size: 1em;
    /*font-style: oblique;*/
    padding-bottom: 15px;
    padding-left: 40px;
    padding-top: 15px;
}

/*
div{background-color: transparent;
padding-top: 20px;
padding-bottom: 20px;}*/
