*{cursor: url(../img/fish-07.png)5 5,help;}

/*apply to all page*/








/*
div {
 cursor:url(https://media.giphy.com/media/3ohhwiY7Wke9briEqk/giphy.gif),auto;
}*/


div {
    cursor:default;
}

img{
/*{  position:absolute;*/
    top: 0px;
    left:0px;
}

#imgb{
    top: 314px;
    left:750px;
margin-top: 10px;
    position: absolute;
}

footer{
    position:static;
    text-align: center;
}