/*
*{
}

apply to all page
*/





body {background-color: rgb(254,204,200);
    font-family: Avenir, "Gill Sans MT", Calibri, sans-serif;

/*    max-width: 70%;*/
	line-height: 1.8;

}

.container-fluid {
/*    padding: 5% 20%;*/
	background-color: rgb(254,204,200);
	
}


.pull-right{
	float:center !important;
	width: 100%;
}

.navbar-toggle{

   
/*		display: inline-block;*/
		margin:1;
		padding: 1em 0.7em;
		text-align:center;
		font-size:1.4em; 
}

.navbar {
background-color: rgb(254,204,200);

    border: 0;
    border-radius: 0;
    font-size: 12px;
/*    letter-spacing: 5px;*/
    margin-bottom: 0;
/*
    padding-bottom: 15px;
    padding-top: 15px;
*/
}

h1, .navbar-nav li a:link {
     color: #224 !important;
}
h1, .navbar-nav li a:hover {
    color: lightblue !important;
}

h1, .navbar-nav li a:visited {
    color: rgb(170,170,170) !important;
}



/*

header {
    background-color: transparent;
    font-family: Avenir, Tahoma, Verdana, sans-serif; 
}
*/

/*
nav {
    font-family: Avenir, Tahoma, Verdana, sans-serif;
    background-color: rgba(220,220,220,0.50);
    padding: 10px 10px;
    line-height: 160%;
    float: left;
    margin-left:10px;
	text-align: center;
    width:100px;}
*/

/*add padding on the top to add margin on the top*/

/*
nav {
    background-color: beige;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-top: 10px;
}



li {
    list-style-type: none;/*get rid of dot*/
}




/*
.container-fluid {
	    float:right;
 		width: 50%;
}
*/

footer {text-align: center;}


h1 {
   

    font-family: Avenir, "Gill Sans MT", Calibri, sans-serif;
    font-size: 2.1875em;
    padding: 25px 25px 25px 25px;

}


h2 {
  
    color: #224;
    font-family: Avenir, "Gill Sans MT", Calibri, sans-serif;
    font-size: 1.5em;
/*    padding-bottom: 10px;*/
    padding-left: 40px;
/*    padding-top: 10px;*/

}

h3 {
/*    background-color: rgba(169,169,169,0.50);*/
    color: #224;
    font-family: Avenir, "Gill Sans MT", Calibri, sans-serif;
    font-size: 1em;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-top: 15px;
}


section {
	animation: colorchange 2s infinite;
    /*animation is a combined property*/
     animation: basicmove 15s infinite;
    height:700px;
    position: relative;
    width: 700px;
}
@keyframes basicmove {
    0%{
/*    background: rgba(255, 0, 0, 0.5);*/
		background-image: url("../img/picklerick.png");
	left:0px;
     top:50px;
	}
	
	25%{
 background: rgba(255, 0, 0, 0.5);
	 left: 400px;
    top: 200px;
	}
	
    50% {
		background-image: url("../img/selfie-07.png");
	left: 800px;
     top:0;
    }
	
	75%{
	background-image: url("../img/iceland.png");
	left: 400px;
     top:200px;
		
	}
	100%{
		background: pink;
		left: 0;
		top: 50px;
	
	
	
}



	