/*
*{margin:0;
padding:0}
*/


/*apply to all page*/

body {
	font-family: Avenir, Tahoma, Verdana, sans-serif;
	font-size: 100%;
	margin: auto;
	max-width: 70%;
	background-color: ghostwhite;
	/*	background-image:url("swimj.jpg");*/
	/*	background-size: contain;*/
}

.desc {
	background-color: rgb(170, 170, 170);
	color: #fff;
	display: block;
	font-size: 2em;
	text-align: center;
	height: 90%;
	width: 100%;
	opacity: 0;
	padding-left: 1.2%;
	padding-right: 1.2%;
	position: absolute;
	transition: opacity .4s ease;
}

.desc2 {
	background-color: rgb(170, 170, 170);
	color: #fff;
	display: block;
	font-size: 2em;
	text-align: center;
	height: 100%;
	width: 100%;
	opacity: 0;
	padding-left: 1.2%;
	padding-right: 1.2%;
	position: absolute;
	transition: opacity .4s ease;
}

.column {
	float: left;
	margin: 0;
	margin-bottom: -6px;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 20%;
}

.column2 {
	float: left;
	margin: 0;
	margin-bottom: -6px;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 20%;
}
/*get rid of dot*/


/*identify the name of the class*/

.nav-links:link {
	color: #FFF;
	text-decoration: none;
}

.nav-links:visited {
	color: rgb(170, 170, 170);
	text-decoration: none;
}

.nav-links:hover {
	color: lightblue;
}

figcaption p {
	padding-top: 15%;
	font-size: 0.6em;
}

figcaption:hover {
	opacity: .6;
}


img {
	max-width: 100%;
}



/*section {}*/

footer {
	text-align: center;
}

h1 {
	background-color: transparent;
	color:#FFF;
	font-family: Avenir, "Gill Sans MT", Calibri, sans-serif;
	font-size: 2.1875em;
	padding: 25px 25px 25px 15px;
}

/*
h2 {
	background-color: transparent;
	color: #FFF;
	font-family: Avenir, "Gill Sans MT", Calibri, sans-serif;
	font-size: 1.5em;
	padding-bottom: 10px;
	padding-left: 40px;
	padding-top: 10px;
}
*/

h3 {
	background-color: #FFDAB9;
	color: #FFF;
	font-family: Avenir, "Gill Sans MT", Calibri, sans-serif;
	font-size: 1em;
	/*font-style: oblique;*/
	padding-bottom: 15px;
	padding-left: 40px;
	padding-top: 15px;
}

@media only screen and (min-width: 29em) and (max-width: 59em) {
	body {
		margin: 0 auto;
/*		max-width: 100%;*/
	}
	nav li {
		color: #fff;
		display: inline-block;
		margin-left: 20px;
		margin-right: 20px;
	}
	.column {
		width: 50%;
	}
	.column2 {
		width: 100%;
		text-align: center;
	}

/*
	.desc {
		background-color: rgb(170, 170, 170);
		color: #fff;
		display: block;

		height: 98%;
		width: 100%;
		opacity: 0;
		padding-left: 1.2%;
		padding-right: 1.2%;
		position: absolute;
		transition: opacity .4s ease;
	}
	.desc2 {
		background-color: rgb(170, 170, 170);
		color: #fff;
		display: block;

		height: 95%;
		width: 100%;
		opacity: 0;
		padding-left: 1.2%;
		padding-right: 1.2%;
		position: absolute;
		transition: opacity .4s ease;
	}
*/
	footer {
		display: block;
		padding: 1em;
		text-align: center;
	}
}

	section {
	animation: colorchange 2s infinite;
    /*animation is a combined property*/
     animation: basicmove 15s infinite;
    height:350px;
    position: relative;
    width: 350px;
}


@keyframes basicmove {
    0%{
/*    background: rgba(255, 0, 0, 0.5);*/
		background-image:  url("../img/picklerick.png");
	left:0px;
     top:0px;
	}
	
	35%{
	background: blue;
	 left: 400px;
    top: 400px;
	}
	
    70% {
	background: red;
	left: 800px;
     top:0;
    }
	
	100%{
	background: green;
	left: 400px;
     top:0;
		
	}
	
	
}



@media only screen and (min-width: 20em) and (max-width: 29em) {

	.column{
	 width: 100%;
	}
	.column2{
		width:100%
	}
	
	 .desc {
		background-color: rgb(170, 170, 170);
		color: #fff;
		display: block;
		font-size: 2em;
		height: 100%;
		width: 100%;
		opacity: 0;
		padding-left: 1.2%;
		padding-right: 1.2%;
		position: absolute;
		transition: opacity .4s ease;
	}
	.desc2 {
		background-color: rgb(170, 170, 170);
		color: #fff;
		display: block;
		font-size: 2em;
		height: 95%;
		width: 100%;
		opacity: 0;
		padding-left: 1.2%;
		padding-right: 1.2%;
		position: absolute;
		transition: opacity .4s ease;
}
}