* {
  box-sizing: border-box;
}

html {
  width:100%;
  height: 100%;
}

body {
  max-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  padding: 70px;
}

/*
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  border-top: 1px dashed #afafaf;
  background-color: #efefef;
}
*/

/*
.current {
  background-color: yellow;
}
*/

/*
a {
  display: inline-block;
  padding: 10px;
  margin-right: 50px;
  text-decoration: none;
  color: blue;
}
*/

.box {
  height: 100px;
  width: 100px;
  display: inline-block;
  background-color: red;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  transition:transform 1s,background-color 2s;
	


}

.box:hover {
  transform:rotate(360deg);
}

.box:active {
  background-color: green;
  transform: rotateX(180deg);

}

div {

	animation: basicmove 5s infinite;}

@keyframes basicmove {
    0%{
    background: red;
	left: 0;
     top:0;
	}
	
	50%{
	background: blue;
	 left: 400px;
    top: 400px;
	}
	
    100% {
	background: red;
	left: 0;
     top:0;
    }
}
