* {
    margin: 0;
    padding: 0;
}


/*apply to all page*/




li {
    list-style-type: none;
}


/*get rid of dot*/


/*identify the name of the class*/

body {
    font-family: Avenir, "Gill Sans MT", Calibri, sans-serif;
	width: 70%;
    margin:auto;
/*    max-width: 70%;*/
	line-height: 1.8;
    background-color: black;
}






.navbar-toggle{
	background-color:black;
    position:relative;
		margin-bottom:1em;
		padding: 1em 0.7em;
		text-align:center;
		font-size:1.4em; 
}

.navbar {
/*	color: rgb(254,204,200);*/
	background-color: black;
    border: 0;
    border-radius: 0;
    font-size: 12px;
/*    letter-spacing: 5px;*/
/*    margin-bottom: 0;*/

}

h1, .navbar-nav li a:link {
     color:  rgb(200,200,200) !important;
}
h1, .navbar-nav li a:hover {
    color: lightblue !important;
}

h1, .navbar-nav li a:visited {
    color: rgb(170,170,170) !important;
}

h1 { background-color:transparent;
text-align: center;
    font-family: Avenir, "Gill Sans MT", Calibri, sans-serif;
    font-size: 2.1875em;
    padding:0px 25px 25px 0px;
	margin-top: 10px;

}


/*
nav {
    font-family: Avenir, Tahoma, Verdana, sans-serif;
    background-color: rgba(220, 220, 220, 0.50);
    padding-bottom: 10px;
    padding-left: 35px;
    padding-top: 10px;
    line-height: 140%;
    width: 100px;
}
*/



figure{display: inline-block;
	position: relative;
	
}

img{
    width: 100%;
}

/*add padding on the top to add margin on the top*/



figcaption {
    background-color: #091744;
    color: #fff;
    display: block;
    font-size: 200%;
    opacity: 0;
width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    transition: opacity .5s ease;
}


figcaption p {
    padding-top: 40px;
}

figcaption:hover {
    opacity: .8;
}

p {
    text-align: center;
    background-color: transparent;
    color: #FFF;
    font-family: Avenir, "Gill Sans MT", Calibri, sans-serif;
    font-size: 1em;
    font-weight: bold
}

article {
    background-color: rgba(169, 169, 169, 0.50);
    margin-bottom: 5px;
    padding: 10px 10px;
    /*    padding-bottom: 20px;*/
}

/*
h1 {
    background-color: transparent;
    color: #224;
    font-family: Avenir, "Gill Sans MT", Calibri, sans-serif;
    font-size: 2.1875em;
    padding: 25px 25px 25px 15px;
}
*/

.gallery figure {
    color: blue;
    float: left;
    height: 220px;
    width: 1000px;
    margin: 10px;
    text-align: center;
    width: 20%;
}

h2 {
    text-align: center;
    background-color: transparent;
    color: #FFF;
    font-family: Avenir, "Gill Sans MT", Calibri, sans-serif;
    font-size: 1.5em;
    padding: 20px 20px;
}

h3 {
    background-color: transparent;
    /*    #FFDAB9*/
    color: #FFF;
    font-family: Avenir, "Gill Sans MT", Calibri, sans-serif;
    font-size: 1em;
    font-style: oblique;
    /*    padding-bottom: 15px;*/
    /*    padding-left: 40px;*/
    /*    padding-top: 15px;*/
}

div {
    background-color: transparent;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer {
    text-align: center;
}


